{% block sobre %}
	<section id="sobre">
		<div class="row">
			<div class="col-sm-12">
				<h3>
					Sobre
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<article style="background-color: #454545" class="rounded">
					<p class="jumbotron" style="color: margin: 5px;">
						O evento pretende servir como ponte entre a comunidade de profissionais em formação e o mercado
						de
						trabalho, visando expandir o potencial de cooperação entre a universidade e as entidades
						empregadoras e
						assim, possibilitar a inserção de graduandos e egressos no mercado de trabalho. Na ocasião,
						pretende-se
						criar um banco de dados destes profissionais, a partir do cadastro de currículos, de forma os
						mesmos
						possam ter acesso às oportunidades de emprego e estágio em um site que será criado para esta
						finalidade.
					</p>
				</article>
			</div>
		</div>
	</section>
{% endblock %}